<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.climbthemountain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icona"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!-- used to set action bar -->


        <!-- Activity Register Account -->
        <activity
            android:name=".RegisterAccountData"
            android:label="@string/activity_register" />

        <!-- Activity Register Session -->
        <activity
            android:name=".RegisterSessionData"
            android:label="@string/activity_session" />

        <!-- Activity Register Exam -->
        <activity
            android:name=".RegisterSessionExam"
            android:label="@string/activity_exams" />

        <!-- Activity Summary -->
        <activity
            android:name=".RegisterSessionSummary"
            android:label="@string/activity_summary" />
        <activity
            android:name=".CustomCalendar.Monday"
            android:label="@string/activity_custom_calendar" />
        <activity
            android:name=".CustomCalendar.Tuesday"
            android:label="@string/activity_custom_calendar" />
        <activity
            android:name=".CustomCalendar.Wednesday"
            android:label="@string/activity_custom_calendar" />
        <activity
            android:name=".CustomCalendar.Thursday"
            android:label="@string/activity_custom_calendar" />
        <activity
            android:name=".CustomCalendar.Friday"
            android:label="@string/activity_custom_calendar" />
        <activity
            android:name=".CustomCalendar.Saturday"
            android:label="@string/activity_custom_calendar" />
        <activity
            android:name=".CustomCalendar.Sunday"
            android:label="@string/activity_custom_calendar" />

        <!-- Activity Main - Login -->
        <activity
            android:name=".Login"
            android:label="@string/activity_login">
            <intent-filter>

                <!-- used to set launcher activity -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".RegisterSessionExamModify" />
        <activity android:name=".RegisterSessionExamSelection"/>

    </application>

</manifest>